:root{
    --color-dark-blue: #181991;
    --color-orange: #f6bd60;
    --color-green: #0fb900;
    --color-dark-green:#004842;
    --color-dark-red: #FF928B;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9fa;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container{
    width: min(90vw, 900px);
    margin: auto;
    position: relative;
}
h2{
    margin-bottom: 0.8rem;
    color:var(--color-dark-blue);
    font-weight: normal;
}
header{
    text-align: center;
    background: #84a59d;
    padding: 2rem 0 6rem;
}

#balance{
    margin-top: -3.5rem;
}
.card{
    background: #f9f9fa;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.card:hover{
    box-shadow: 0.2rem 0.1rem 0 0.15rem #6c757d;
}
.card h3{
    font-weight: normal;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p{
    font-size: 1.8rem;
}
.card.income{
    color: var(--color-dark-green);
    border: solid 2.5px var(--color-dark-green);
}
.card.expense{
    color: var(--color-dark-red);
    border: solid 2.5px var(--color-dark-red);
}
.card.total{
    color:var(--color-orange);
    border: solid 2.5px var(--color-orange);
}

a{
    font-size: 1.3rem;
    color:var(--color-dark-green);
    text-decoration: none;
}
a:hover{
    color:var(--color-dark-green);
}
button{
    width: 100%;
    height: 40px;
    border: none;
    color:white;
    background: var(--color-green);
    padding: 0;
    border-radius: 0.25rem;
    cursor:pointer;
}
button:hover{
    background-color: var(--color-dark-green);
}
.button.new{
    display: inline-block;
    margin-bottom: .8rem;
}
.button.new:hover{
    color: var(--color-dark-red);
}
.button.cancel{
    color: black;
    border: solid 2px var(--color-dark-red);
    border-radius: 0.25rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button.cancel:hover{
    background-color: var(--color-dark-red);
    color:white;
    opacity: 1;
}

#transaction{
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
}
table thead tr th:first-child, table tbody tr td:first-child{
    border-radius:  0.25rem 0 0 0.25rem;
}
table thead tr th:last-child, table tbody tr td:last-child{
    border-radius:  0 0.25rem 0.25rem 0;
}
table th{
    background: white;
    font-weight: normal;
    color: black;
    padding: 1rem;
    text-align: left;
}
table tbody tr{
    opacity: 0.4;
}
table tbody tr:hover{
    opacity: 1;
}
table td{
    padding: 0.5rem 0.5rem;
}
td.income{
    color: green;
}
td.expense{
    color: red;
}

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 500px;
    width: 80%;
}
.modal h2{
    color: var(--color-dark-green);
}
input{
    border:none;
    padding: 0.5rem;
    margin: 0.15rem;
    width: 100%;
    border-bottom: solid 1px lightgray;
}
.input-group{
    margin-top: 0.5rem;
}
.input-group small{
    opacity: 0.5;
    color:var(--color-dark-red)
}
.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.input-group.actions .button, .input-group.actions button{
    width: 48%;
} 

footer{
    text-align: center;
    padding: 2rem 0 2rem;
    color: var(--color-dark-green);
    bottom:0;
    width:100%;
}
footer::after{
    content: '';
    position: absolute;
    width: 90px;
    height: 3px;
    left: 41.5%;
    background: var(--color-green);
}

/*Responsividade*/ 
@media (min-width:700px){
    html{
        font-size: 87.5%;
    }
    #balance{
        display: grid;
        /*grid-template-columns: repeat(3, 1fr);*/
        grid-template-columns: 1fr 1fr 1fr;
        gap:1rem;
    }
    footer::after{
        left: 47%;
    }
}